body{
    background-image: linear-gradient(to Right ,rgba(43, 43, 245, 0.678),skyblue)
}
.logo{
    width: auto;
    height:75px;
    display: block;
  margin: auto;
margin-bottom: 25px;
}
.signup{
width:400px;
padding-left: 40px;
padding-right: 40px;
margin: auto;
background-color: white;
text-align: center;
padding-bottom: 20px;
}
footer{
    color: white;
    margin: auto;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}
.form label{
    display: block;
    margin-bottom: 5px;
}
.form input,button {
    padding: 3px;
    height: 55px;
    width: 320px;
    padding-left:15px;
    padding-right:15px;
    border:2px solid gray;
  }
  
.form button {
    background-color: rgb(78, 184, 78);
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
vertical-align: middle;
  }
  .form button :hover{
    background-color: rgb(5, 66, 5);
  }
  